<div *ngIf='users && users.length == 0'>
    loading...
</div>
<div *ngIf='users && users.length > 0'>
   <table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User Name</th>
      <th>Email </th>
      <th>Phone </th>
      <th>Website</th>
      <th>company Name</th> 
      <th>Actions</th> 
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
      <td >{{user.name}}</td>
      <td >{{user.username}}</td>
      <td >{{user.email}}</td>
      <td >{{user.phone}}</td>
      <td >{{user.website}}</td> 
      <td >{{user.company.name}}</td>
      <td>
        <div class="btn btn-primary btn-text" (click)="showUser(Userid)">View Todos</div>
        <!--<a routerLink="/todos/{{user.id}}" class="btn btn-primary btn-text">View Todos</a>-->
      </tr>
  </tbody>
</table> 
</div>