<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=""></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="margin-left:200px">
          <ul class="nav navbar-nav" >
           <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
             <a routerLink="/users">USERS</a></li>
            <li  routerLinkActive="active" ><a routerLink="/todos">VIEW/ADD TODOS</a></li> 
          </ul>
        </div>
  </div>
</nav>